h1{
	text-align: center;
	font-family: Times New Roman;
	font-weight: bold;
	color: rgb(111, 231, 247);
	font-size: 350%;

}

h3,h5{
	font-family: Times New Roman;
	font-weight: 400px;
	font-weight: bold;
	

}

body{
	overflow: hidden;
	background-image: url(c.jpg);
	background-size: cover;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;

}
::placeholder {
	color: white;
	opacity: 1; /* Firefox */
  }
input{
	border: 2px solid black;
	border-radius: 4px;
	/*background-color: rgb(174, 227, 243);*/
	background-color: rgb(145, 120, 76);
}
.btn{
	background-color: rgb(110, 79, 22);

}
a{
	color: rgb(110, 79, 22);
}
