<html>
    <head>
        <title>books hub</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='signin.css') }}">
        <style>
            .form-group,h1,h3,h5,.abc{
                text-align: center;
            }
        </style>

    </head>
    <body>
        <div class="container">
        <h1>Welcome to books hub</h1>
        <br><br>
        <h3>Sign In </h3>
        {% if message %}
        <div class="abc"><div class="alert alert-info text-center" role="alert">{{message}}</div></div>
        {% endif %}

        <form action="{{url_for('signin')}}" method="POST">
            <div class="form-group">
                <input class="form-group" name="username" placeholder="username">
                <br>
                <input class="form-group" type="password" name="password" placeholder="password">
            </div>
            <div class="form-group">
                <button style="background-color: rgb(180, 49, 49); border-color: rgb(128, 128, 128)"; class="btn btn-primary">Submit</button>
            </div>
        </form>
        </div>
    </body>
</html>